<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetConnect</title>
  <link rel="stylesheet" href="style.css"> <!-- Archivo CSS externo -->
</head>

<body>
  <header>
    <h1>PetConnect</h1>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#Equipo">Equipo</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="inicio">
      <h2>Bienvenido</h2>
      <p>Bienvenido a PetConnect aqui es el mejor lugar para tu mascota</p>
    </section>

    <section id="servicios">
      <h2>Nuestros Servicios</h2>
      <p>PetConnect es una aplicacion para el cuidado y control de tu mascota con un sistema de GPS para saber la
        ubicacion de tu mejor amig@</p>
    </section>

    <section id="Equipo">
      <h2>¿Quienes somos?</h2>
      <p>Somos un equipo en busca mejorar el bienestar de tu mascota</p>
    </section>

    <section id="contacto">
      <h2>Contacto</h2>
      <p>JosueZurita25@outlook.com</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Mi Aplicación Web. Todos los derechos reservados.</p>
  </footer>

  <script src="script.js"></script> <!-- Archivo JavaScript externo -->
</body>

</html>