<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión - PetConnect</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="login-container">
      <form class="login-box" method="POST" action="/app" autocomplete="off">
        <h2>Welcome to PetConnect</h2>

        <div class="input-container">
          <input type="email" name="email" required />
          <label>Enter your email</label>
        </div>
        <div class="input-container">
          <input type="password" name="password" required />
          <label>Enter your password</label>
        </div>
        <div class="remember">
          <input type="checkbox" id="remember" />
          <label for="remember">Remember me</label>
        </div>
        <button type="submit">Log In</button>
        <p>
          Don't have an account?
          <a href="{{ url_for('register_form') }}">Register</a>
        </p>
      </form>
    </div>
  </body>
</html>
