.container-actividades {
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  display: flex;
  gap: 20px;
  max-width: 1200px;
  box-shadow: 0 4px 12px var(--shadow-default);
  opacity: 0;
  animation: slideUp 0.5s ease-out forwards;
  overflow: hidden;
  margin-bottom: 50px;
  /* Elimina el desbordamiento en el contenedor */
}

.titulo {
  font-size: 2rem;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s 0.5s ease-out forwards;
}

.subtitulo {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--text-secondary);
}

.seccion {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s, transform 0.3s;
}

.input:focus {
  border-color: #3498db;
  outline: none;
  transform: scale(1.02);
}

/* Estilo para el campo de nombre de la cita */
.input::placeholder {
  color: var(--text-secondary);
  font-style: italic;
}

.boton {
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  animation: fadeIn 1s 1s ease-out forwards;
}

.boton:disabled {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  cursor: not-allowed;
}

.boton:hover:enabled {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  transform: translateY(-3px);
}

/* Mensajes de error o éxito */
.mensajeError {
  color: #e74c3c;
  font-size: 1rem;
  text-align: center;
  margin-top: 15px;
  animation: fadeIn 1s ease-out;
}

.mensajeExito {
  color: #2ecc71;
  font-size: 1rem;
  text-align: center;
  margin-top: 15px;
  animation: fadeIn 1s ease-out;
}

/* Estilos para las citas agendadas */
.citasAgendadas {
  margin-top: 30px;
  opacity: 0;
  animation: fadeIn 1s 1.5s ease-out forwards;
}

.citasAgendadas h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--text-primary);
  animation: fadeIn 1s 1.5s ease-out forwards;
}

.citasAgendadas ul {
  list-style-type: none;
}

.citasAgendadas li {
  background-color: var(--card-background);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
  animation-delay: 2s;
}

.citasAgendadas button {
  background-color: var(--card-background);
  color: var(--text-primary);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 10px;
}

.citasAgendadas button:hover {
  background-color: #c0392b;
  transform: translateY(-3px);
}

.citasAgendadas button:focus {
  outline: none;
}

/* Botón Editar */
.citasAgendadas button:first-of-type {
  background-color: #3498db;
}

.citasAgendadas button:first-of-type:hover {
  background-color: #2980b9;
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}