/* From Uiverse.io by cssbuttons-io */ 
.backBT {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 50px;
  padding: 4px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.backBT:active,
.backBT:hover {
  outline: 0;
}

.backBT-content {
  background-color: rgb(5, 6, 45);
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.backBT:hover .backBT-content {
  background: none;
}

.backBT:active {
  transform: scale(0.9);
}