.dark-mode-toggle {
  position: absolute; /* Cambiado de fixed a absolute */
  top: 15px;
  right: 15px;
  padding: 10px 16px;
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  transition: background 0.3s ease, color 0.3s ease;
  z-index: 1000;
}

.dark-mode-toggle:hover {
  background: #5a189a;
}

.icon-light,
.icon-dark {
  font-size: 18px;
}
