.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-shadow: none;
  padding-top: 60px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.dashboard::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
button {
  box-shadow: none !important;
}
span:hover {
  box-shadow: none;
}

/* Sidebar */
.sidebar-container {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: var(--card-background);
  box-shadow: 2px 0 10px var(--shadow-default);
  transition: left 0.4s ease-in-out;
  z-index: 900; /* Debajo del botón */
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

/* Contenido Principal */
.content {
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  box-shadow: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

/* Panel Izquierdo */
.left-panel {
  flex: 1;
  text-align: center;
}

/* Botones */
.buttons button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  background: #0a74da;
  color: var(--background-card);
  border: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}

.actividad-section {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Panel Derecho */
.right-panel {
  flex: 1;
  display: flexbox;
}

@media (max-width: 1024px) {
  .content {
    grid-template-columns: 1fr;
  }
  .actividad-section {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
  }
  
  .actividad-section {
    grid-template-columns: 1fr;
  }

  .left-panel,
  .right-panel {
    max-width: 100%;
  }
}
