/* 🔹 Contenedor Principal */
.Container-FoundDoctor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Se ajusta al 100% en lugar de 150% */
  max-width: 500px; /* Aumenta el ancho máximo */
  padding: 10px;
  background-color: var(--card-background);
  border-radius: 12px;
  margin: 0 auto 30px auto;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px var(--shadow-default);
}

/* 🔹 Título */
.Container-Title-FoundDoctor {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: var(--text-primary);
  width: 100%;
  margin-bottom: 20px;
}

/* 🔹 Tarjeta del Doctor */
.FoundDoctor-Card {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--card-background);
  border-radius: 16px;
  box-shadow: 0px 4px 10px var(--shadow-default);
  padding: 16px;
  width: 100%;
  max-width: 650px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* 🔹 Efecto Hover */
.FoundDoctor-Card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 12px var(--shadow-hover);
}

/* 🔹 Información del Doctor */
.FoundDoctor-Info {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  margin-right: 15px;
  justify-content: center;
  width: 100%;
}

/* 📌 Diseño Responsivo */
@media (max-width: 768px) {
  .Container-FoundDoctor {
    max-width: 90%;
  }

  .FoundDoctor-Card {
    max-width: 100%;
    padding: 12px;
  }

  .FoundDoctor-Info {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .Container-Title-FoundDoctor {
    font-size: 20px;
  }

  .FoundDoctor-Card {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .FoundDoctor-Info {
    align-items: center;
    text-align: center;
  }
}

/* 📌 Skeleton Loader */
.skeleton {
  background: linear-gradient(
    90deg,
    var(--skeleton-gradient-start) 25%,
    var(--skeleton-gradient-mid) 50%,
    var(--skeleton-gradient-start) 75%
  );
  background-size: 200% 100%;
  animation: loadingAnimation 1.5s infinite;
  border-radius: 8px;
}

/* 📌 Animación del Skeleton */
@keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* 📌 Contenedor del Skeleton */
.skeleton-container-foundDoctor {
  display: flex;
  flex-direction: column;
  background: var(--card-background);
  border-radius: 16px;
  box-shadow: 0px 4px 10px var(--shadow-default);
  padding: 16px;
  width: 100%;
  max-width: 650px;
}

/* 📌 Estructura del Skeleton */
.skeleton-text-foundDoctor {
  width: 90%;
  height: 14px;
  margin-bottom: 8px;
}
