/* Contenedor principal */
.Container-FoundDoctor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150%; /* Ajusta el ancho al 100% */
  max-width: 500px; /* Aumenta el ancho máximo */
  padding: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 0 auto 30px auto;
  margin-bottom: 20px; /* Centra el contenedor horizontalmente y agrega margen inferior */
}

/* Título */
.Container-Title-FoundDoctor {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #333;
  width: 100%;
  margin-bottom: 20px; /* Agrega margen inferior */
}

/* Tarjeta del doctor */
.FoundDoctor-Card {
  color: black;
  display: flex;
  flex-direction: column; /* Cambiado a columna para mejor responsividad */
  align-items: flex-start; /* Alinea los elementos al inicio */
  background: white;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 100%;
  max-width: 650px; /* Aumenta el ancho máximo */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.FoundDoctor-Card:hover {
  transform: translateY(-3px);
}

/* Información del doctor */
.FoundDoctor-Info {
  display: flex;
  flex-direction: column;
  color: #333;
  margin-right: 15px;
  justify-content: center;
  width: 100%;
}

/* 📌 Diseño responsivo */
@media (max-width: 768px) {
  .Container-FoundDoctor {
    max-width: 90%; /* Ajusta el ancho máximo para tabletas */
  }

  .FoundDoctor-Card {
    max-width: 100%; /* Ajusta el ancho máximo para tabletas */
    padding: 12px;
  }

  .FoundDoctor-Info {
    justify-content: flex-start; /* Alinea las actividades al inicio */
  }
}

@media (max-width: 480px) {
  .Container-Title-FoundDoctor {
    font-size: 20px; /* Ajusta el tamaño de la fuente para móviles */
  }

  .FoundDoctor-Card {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center;
    padding: 10px;
  }

  .FoundDoctor-Info {
    align-items: center; /* Centra el texto en pantallas pequeñas */
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }
}

/* 📌 Skeleton Loader */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loadingAnimation 1.5s infinite;
  border-radius: 8px;
}

@keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* 📌 Contenedor del Skeleton */
.skeleton-container-foundDoctor {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 100%;
  max-width: 650px;
}

/* 📌 Estructura del Skeleton */
.skeleton-text-foundDoctor {
  width: 90%;
  height: 14px;
  margin-bottom: 8px;
}
