@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");


* {
  position: relative;
  margin: 0;

  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif, sans-serif;
  box-shadow: none;
}

body {
  background-color: white;
  box-shadow: none;
}

:root {
  --bg-default: #ffffff;
  /* Fondo general */
  --card-background: #ffffff;
  /* Fondo de la tarjeta */
  --text-primary: #333333;
  --text-bottomnav: #ffffff;
  --text-secondary: #555555;
  --shadow-default: rgba(0, 0, 0, 0.5);
  /* Sombra sin opacidad */
  --shadow-hover: rgba(0, 0, 0, 0.6);
  --circle-animation: linear-gradient(144deg,
      #af40ff,
      #5b42f3 50%,
      #00ddeb);
  /* Sombra sin opacidad */
  --skeleton-gradient-start: #f0f0f0;
  --skeleton-gradient-mid: #e0e0e0;
  --logo: url("/images/Logo_gradient.png");
}

/* Variables para modo oscuro */
.dark-mode {
  --bg-default: #181818;
  --card-background: #1e1e2e;
  --text-primary: #eeeeee;
  --text-bottomnav: #eeeeee;
  --text-secondary: #cccccc;
  --shadow-default: rgba(0, 0, 0, 0.5);
  /* Sombra sin opacidad */
  --shadow-hover: rgba(0, 0, 0, 0.6);
  /* Sombra sin opacidad */
  --skeleton-gradient-start: #363241;
  --skeleton-gradient-mid: #464053;
  --circle-animation: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  --logo: url("/images/Logo.png");
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
}

body.dark-mode {
  --background-color: #1e1e2e;
  --text-color: #f8f8f2;
  --primary-color: #bb86fc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

button {
  box-shadow: none !important;
}