/* Contenedor del Sidebar */
/* Cuando el Sidebar está abierto */
.sidebar-container.open {
  left: 0; /* Se muestra */
}

/* Botón de cierre */
/* From Uiverse.io by JulanDeAlb */

.container-myaccount {
  display: flex;
  align-items: center;
  border-radius: 16px;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.938);
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-config {
  display: flex;
  align-items: center;
  border-radius: 16px;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.938);
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-pets {
  display: flex;
  align-items: center;
  border-radius: 16px;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.938);
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-logout {
  display: flex;
  align-items: center;
  border-radius: 16px;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.938);
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Sidebar interno */
.sidebar {
  width: 100%;
  padding: 20px;
}

/* Logo */
.logo img {
  width: 120px;
  display: block;
  margin: 0 auto 20px;
}

/* Estilos del menú */
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-primary);
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

li:hover {
  transform: translateY(-3px);
}

/* Íconos */
.icon-side {
  font-size: 20px;
  color: var(--text-primary);
}
