.social-login-icons {
  display: flex;
  align-items: center;
}

.social-login-icons svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.social-icon-1,
.social-icon-2,
.social-icon-3,
.social-icon-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.socialcontainer {
  height: 50px;
  overflow: hidden;
  margin: 0 5px;
  transition: transform 0.3s ease;
  background-color: transparent;
}

.social-icon-1 {
  transition-duration: 0.4s;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}

.socialcontainer:hover {
  transform: translateY(-5px);
  background-color: var(--card-background);
}

.social-icon-2 {
  transition-duration: 0.4s;
  border-radius: 50%;
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}

.social-icon-3 {
  transition-duration: 0.4s;
  border-radius: 50%;
  background: #316ff6;
}

.social-icon-4 {
  transition-duration: 0.4s;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

/* Container styling */
.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  border-radius: 12px;
  margin: 20px 0;
}
