.welcome-card {
  position: relative;
  width: 100%;
  top: 20%;
  left: 15%; /* Desplazado un poco a la izquierda */
  text-align: left;
  opacity: 0;
  transform: translateY(-30%);
  animation: fadeIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.welcome-text {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.welcome-subtext {
  font-size: 18px;
  color: #777;
}

/* Animación mejorada para que aparezca suavemente */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .welcome-card {
    left: 5%; /* Más centrado en pantallas pequeñas */
  }

  .welcome-text {
    font-size: 24px;
  }

  .welcome-subtext {
    font-size: 16px;
  }
}
