.welcome-card {
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  top: 20%;
  left: 15%;
  text-align: left;
  justify-content: center;
  opacity: 0;
  transform: translateY(-30%);
  animation: fadeInDown 1s ease-in-out forwards;
}

.welcome-text {
  font-size: 28px;
  font-weight: bold;
  color: var(--text-primary);
}

.welcome-subtext {
  font-size: 18px;
  color: var(--text-secondary);
}

/* Animación mejorada para que aparezca suavemente */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30%); /* Comienza desde un poco más arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina en su posición normal */
  }
}

@media (max-width: 768px) {
  .welcome-card {
    left: 5%; /* Más centrado en pantallas pequeñas */
  }

  .welcome-text {
    font-size: 24px;
  }

  .welcome-subtext {
    font-size: 16px;
  }
}
